@font-face {
  font-family: "Futura PT";
  font-weight: 300;
  font-style: normal;
  src:
    url("/assets/fonts/futura-pt/futura-pt_light.woff2") format("woff2"),
    url("/assets/fonts/futura-pt/futura-pt_light.woff") format("woff");
}
